@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F2EA79, #F2E85E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a0a0a0;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #D9D277;
    text-align: center;
    text-shadow: 1px 1px 2px #aca65f;
}
h2 {
    color: #A69B63;
}
p {
    text-align: justify;
}